In [1]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data_path = "data.csv"
test_data_path = "test.csv"
data_raw = pd.read_csv(data_path)
test_data = pd.read_csv(test_data_path)
print("Number of rows in data =",data_raw.shape[0])
print("Number of columns in data =",data_raw.shape[1])
print("\n")
print("**Sample data:**")
data_raw.head()

Number of rows in data = 33944
Number of columns in data = 12


**Sample data:**

,City,Place,Review,Adventure & Outdoors,Spiritual,Nature & Retreat,Isolated or Hippie,Heritage,Travel & Learn,Social Tourism (Volunteer & Travel),Nightlife & Events,Shopping
0,Agra,Rajeshwar Mandir,Though the city does not have much this kind o...,0,1,1,0,0,0,0,0,0
1,Agra,Rajeshwar Mandir,"When we plan a trip to Agra, we plan to visit ...",0,1,1,0,0,0,0,0,0
2,Agra,Rajeshwar Mandir,Any ancient monument specially Mandir's have t...,0,1,1,0,0,0,0,0,0
3,Agra,Rajeshwar Mandir,"This is a very Old Shiva Temple ,earlier it wa...",0,1,1,0,0,0,0,0,0
4,Agra,Rajeshwar Mandir,A very beautiful Mandir has to loose its grace...,0,1,1,0,0,0,0,0,0

In [6]:
categories = list(data_raw.columns.values)[3:12]
print(categories)

['Adventure & Outdoors', 'Spiritual', 'Nature & Retreat', 'Isolated or Hippie', 'Heritage', 'Travel & Learn', 'Social Tourism (Volunteer & Travel)', 'Nightlife & Events', 'Shopping']

In [7]:
#Data Pre-Processing

import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
import re
import sys
import warnings
data = data_raw
if not sys.warnoptions:
    warnings.simplefilter("ignore")
def cleanHtml(sentence):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, ' ', str(sentence))
    return cleantext
def cleanPunc(sentence): #function to clean the word of any punctuation or special characters
    cleaned = re.sub(r'[?|!|\'|"|#]',r'',sentence)
    cleaned = re.sub(r'[.|,|)|(|\|/]',r' ',cleaned)
    cleaned = cleaned.strip()
    cleaned = cleaned.replace("\n"," ")
    return cleaned
def keepAlpha(sentence):
    alpha_sent = ""
    for word in sentence.split():
        alpha_word = re.sub('[^a-z A-Z]+', ' ', word)
        alpha_sent += alpha_word
        alpha_sent += " "
    alpha_sent = alpha_sent.strip()
    return alpha_sent
test_data['Review'] = test_data['Review'].str.lower()
test_data['Review'] = test_data['Review'].apply(cleanHtml)
test_data['Review'] = test_data['Review'].apply(cleanPunc)
test_data['Review'] = test_data['Review'].apply(keepAlpha)

In [8]:
#Removing stop words
stop_words = set(stopwords.words('english'))
stop_words.update(['zero','one','two','three','four','five','six','seven','eight','nine','ten','may','also','across','among','beside','however','yet','within'])
re_stop_words = re.compile(r"\b(" + "|".join(stop_words) + ")\\W", re.I)
def removeStopWords(sentence):
    global re_stop_words
    return re_stop_words.sub(" ", sentence)
test_data['Review'] = test_data['Review'].apply(removeStopWords)

In [9]:
#Stemming
stemmer = SnowballStemmer("english")
def stemming(sentence):
    stemSentence = ""
    for word in sentence.split():
        stem = stemmer.stem(word)
        stemSentence += stem
        stemSentence += " "
    stemSentence = stemSentence.strip()
    return stemSentence
test_data['Review'] = test_data['Review'].apply(stemming)

In [15]:
# test and train data partitioning...

from sklearn.model_selection import train_test_split

#train, test = train_test_split(data, random_state=42, test_size=0.30, shuffle=True)
original_test_data = test_data
test = test_data
print(train.shape)
print(test.shape)

(23760, 12)
(2, 1)

In [18]:
train_text = train['Review']
test_text = test['Review']
#print("trian")
#print(train)
print("test")
print(test_text)

test
0    though citi much kind old hindu structur symbo...
1    rajeshwar mahadev templ year old said shivalin...
Name: Review, dtype: object

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(strip_accents='unicode', analyzer='word', ngram_range=(1,3), norm='l2')
vectorizer.fit(train_text)
vectorizer.fit(test_text)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 3), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents='unicode', sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [19]:
x_train = vectorizer.transform(train_text)
#print("train_text")
#print(train_text)
#print("x_train")
#print(x_train)
y_train = train.drop(labels = ['Review'], axis=1)
print(y_train)
x_test = vectorizer.transform(test_text)
y_test = test.drop(labels = ['Review'], axis=1)

            City                                    Place  \
1083        Agra                                Agra Fort
17655       Agra                              Mehtab Bagh
29791  Rishikesh                             Triveni Ghat
9161        Agra                                Agra Fort
22878  Mussoorie                                Lal Tibba
27866  Rishikesh                       The Beatles Ashram
14611       Agra                              Anguri Bagh
20271  Mussoorie                             Kempty Falls
13205       Agra                 Tomb of Itimad-ud-Daulah
23532    Pushkar                             Pushkar Lake
7172        Agra                                Agra Fort
22051  Mussoorie                        Camel's Back Road
13302       Agra                 Tomb of Itimad-ud-Daulah
21236  Mussoorie                             Kempty Falls
8874        Agra                                Agra Fort
20145  Mussoorie                             Kempty Falls
4397        Agra                                Agra Fort
13133       Agra                 Tomb of Itimad-ud-Daulah
17609       Agra                              Mehtab Bagh
2197        Agra                                Agra Fort
29890  Rishikesh                             Triveni Ghat
5043        Agra                                Agra Fort
19021  Mussoorie                  Tibetan Buddhist Temple
33723  Rishikesh                      Neer Garh Waterfall
13019       Agra                 Tomb of Itimad-ud-Daulah
2984        Agra                                Agra Fort
8739        Agra                                Agra Fort
7168        Agra                                Agra Fort
15070       Agra                       Jama Masjid (Agra)
21892  Mussoorie                        Camel's Back Road
...          ...                                      ...
14502       Agra                         Spiritual Museum
30740  Rishikesh                                Ram Jhula
3890        Agra                                Agra Fort
3556        Agra                                Agra Fort
11394       Agra                 Tomb of Itimad-ud-Daulah
31551  Rishikesh                           Lakshman Jhula
1267        Agra                                Agra Fort
1899        Agra                                Agra Fort
19118  Mussoorie                  Tibetan Buddhist Temple
189         Agra                                Agra Fort
2747        Agra                                Agra Fort
18431       Agra  Mother Teresa's Missionaries of Charity
18942  Mussoorie                           Landour Bazaar
25658    Pushkar                             Pushkar Lake
27480    Pushkar                            Brahma Temple
6396        Agra                                Agra Fort
28693  Rishikesh                       Swarg Niwas Temple
19769  Mussoorie                             Kempty Falls
17568       Agra                              Mehtab Bagh
5311        Agra                                Agra Fort
2433        Agra                                Agra Fort
769         Agra                                Agra Fort
1685        Agra                                Agra Fort
16023       Agra               Sur Sarovar Bird Sanctuary
21962  Mussoorie                        Camel's Back Road
16850       Agra                              Mehtab Bagh
6265        Agra                                Agra Fort
11284       Agra                     Diwan-i-Am Agra Fort
860         Agra                                Agra Fort
15795       Agra                             Sheesh Mahal

       Adventure & Outdoors  Spiritual  Nature & Retreat  Isolated or Hippie  \
1083                      0          0                 1                   0
17655                     0          0                 1                   0
29791                     0          1                 0                   0
9161                      0          0                 1                   0
22878                     0          0                 1                   0
27866                     0          1                 1                   0
14611                     0          0                 1                   0
20271                     1          0                 1                   0
13205                     0          0                 0                   0
23532                     1          1                 1                   0
7172                      0          0                 1                   0
22051                     1          0                 1                   0
13302                     0          0                 0                   0
21236                     1          0                 1                   0
8874                      0          0                 1                   0
20145                     1          0                 1                   0
4397                      0          0                 1                   0
13133                     0          0                 0                   0
17609                     0          0                 1                   0
2197                      0          0                 1                   0
29890                     0          1                 0                   0
5043                      0          0                 1                   0
19021                     0          1                 1                   0
33723                     1          0                 1                   0
13019                     0          0                 0                   0
2984                      0          0                 1                   0
8739                      0          0                 1                   0
7168                      0          0                 1                   0
15070                     0          1                 0                   0
21892                     1          0                 1                   0
...                     ...        ...               ...                 ...
14502                     0          1                 0                   0
30740                     0          0                 1                   0
3890                      0          0                 1                   0
3556                      0          0                 1                   0
11394                     0          0                 0                   0
31551                     0          0                 1                   0
1267                      0          0                 1                   0
1899                      0          0                 1                   0
19118                     0          1                 1                   0
189                       0          0                 1                   0
2747                      0          0                 1                   0
18431                     0          1                 0                   0
18942                     0          0                 1                   0
25658                     1          1                 1                   0
27480                     0          1                 1                   0
6396                      0          0                 1                   0
28693                     0          1                 0                   0
19769                     1          0                 1                   0
17568                     0          0                 1                   0
5311                      0          0                 1                   0
2433                      0          0                 1                   0
769                       0          0                 1                   0
1685                      0          0                 1                   0
16023                     0          0                 1                   0
21962                     1          0                 1                   0
16850                     0          0                 1                   0
6265                      0          0                 1                   0
11284                     0          0                 0                   0
860                       0          0                 1                   0
15795                     0          0                 0                   0

       Heritage  Travel & Learn  Social Tourism (Volunteer & Travel)  \
1083          1               0                                    0
17655         1               0                                    0
29791         1               0                                    0
9161          1               0                                    0
22878         0               0                                    0
27866         0               0                                    0
14611         0               0                                    0
20271         0               0                                    0
13205         1               0                                    0
23532         1               0                                    0
7172          1               0                                    0
22051         0               0                                    0
13302         1               0                                    0
21236         0               0                                    0
8874          1               0                                    0
20145         0               0                                    0
4397          1               0                                    0
13133         1               0                                    0
17609         1               0                                    0
2197          1               0                                    0
29890         1               0                                    0
5043          1               0                                    0
19021         1               0                                    0
33723         0               0                                    0
13019         1               0                                    0
2984          1               0                                    0
8739          1               0                                    0
7168          1               0                                    0
15070         1               0                                    0
21892         0               0                                    0
...         ...             ...                                  ...
14502         1               0                                    0
30740         1               0                                    0
3890          1               0                                    0
3556          1               0                                    0
11394         1               0                                    0
31551         0               0                                    0
1267          1               0                                    0
1899          1               0                                    0
19118         1               0                                    0
189           1               0                                    0
2747          1               0                                    0
18431         0               0                                    1
18942         0               0                                    0
25658         1               0                                    0
27480         1               0                                    0
6396          1               0                                    0
28693         1               0                                    0
19769         0               0                                    0
17568         1               0                                    0
5311          1               0                                    0
2433          1               0                                    0
769           1               0                                    0
1685          1               0                                    0
16023         0               0                                    0
21962         0               0                                    0
16850         1               0                                    0
6265          1               0                                    0
11284         1               0                                    0
860           1               0                                    0
15795         1               0                                    0

       Nightlife & Events  Shopping
1083                    0         0
17655                   0         0
29791                   0         0
9161                    0         0
22878                   0         0
27866                   0         0
14611                   0         0
20271                   0         0
13205                   0         0
23532                   0         0
7172                    0         0
22051                   0         1
13302                   0         0
21236                   0         0
8874                    0         0
20145                   0         0
4397                    0         0
13133                   0         0
17609                   0         0
2197                    0         0
29890                   0         0
5043                    0         0
19021                   0         0
33723                   0         0
13019                   0         0
2984                    0         0
8739                    0         0
7168                    0         0
15070                   0         0
21892                   0         1
...                   ...       ...
14502                   0         0
30740                   0         0
3890                    0         0
3556                    0         0
11394                   0         0
31551                   0         0
1267                    0         0
1899                    0         0
19118                   0         0
189                     0         0
2747                    0         0
18431                   0         0
18942                   0         1
25658                   0         0
27480                   0         0
6396                    0         0
28693                   0         0
19769                   0         0
17568                   0         0
5311                    0         0
2433                    0         0
769                     0         0
1685                    0         0
16023                   0         0
21962                   0         1
16850                   0         0
6265                    0         0
11284                   0         0
860                     0         0
15795                   0         0

[23760 rows x 11 columns]

In [25]:
#Multiple Binary Classifications - (One Vs Rest Classifier)

from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier
from IPython.display import Markdown, display
import pickle
def printmd(string):
    display(Markdown(string))

%time

# Using pipeline for applying logistic regression and one vs rest classifier
LogReg_pipeline = Pipeline([
                ('clf', OneVsRestClassifier(LogisticRegression(solver='sag'), n_jobs=-1)),
            ])

arrs = []
#our_model = pickle.dumps(LogReg_pipeline)
#LogReg_pipeline = pickle.loads(our_model)
trained_model = open("trained_model.txt", "r")
pipeline_array = list(trained_model.read())
#pipeline_array = trained_model.read()
#print(str(pickle.dumps(LogReg_pipeline)))
print(type(LogReg_pipeline))
for index in range(0,len(categories)):
    printmd('**Processing {} review...**'.format(categories[index]))
    
    # Training logistic regression model on train data
    #print("x_train")
    #print(x_train)
    #LogReg_pipeline.fit(x_train, train[category])
    LogReg_pipeline = pickle.loads(bytes(pipeline_array[index]))
    #print(train[category])
    # calculating test accuracy
    #print("x_test")
    #print(x_test)
    prediction = LogReg_pipeline.predict(x_test)
    arrs.append(prediction)
    print("Prediction: ")
    print(prediction)
    #print('Test accuracy is {}'.format(accuracy_score(test[category], prediction)))
    print("\n")

output_array = []
output_array.append(['Review','Adventure & Outdoors', 'Spiritual', 'Nature & Retreat', 'Isolated or Hippie', 'Heritage', 'Travel & Learn', 'Social Tourism (Volunteer & Travel)', 'Nightlife & Events', 'Shopping'])
test_review = original_test_data["Review"].values
for index in range(0,len(test_review)):
    row = []
    row.append(test_review[index])
    for arr in arrs:
        row.append(arr[index])
    output_array.append(row)

    
with open('output.csv', 'w') as writeFile:
        writer = csv.writer(writeFile)
        writer.writerows(output_array)    
#print(output_array)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.87 µs
<class 'sklearn.pipeline.Pipeline'>

**Processing Adventure & Outdoors review...**

TypeError: string argument without an encoding